@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

@font-face {
  font-family: 'PT Serif';
  src: url(font/pt_serif-regular.eot);
  src: url(font/pt_serif-regular.eot?#iefix) format('embedded-opentype'), url(font/pt_serif-regular.woff) format('woff'), url(font/pt_serif-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url(fonts/fontawesome-webfont.otf);
    src: url(fonts/fontawesome-webfont.eot) format('embedded-opentype'), url(fonts/fontawesome-webfont.woff) format('woff'), url(fonts/fontawesome-webfont.svg) format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    min-width: 1000px;
    height: 100%;
}



* {
    /*font-weight: 400;*/
    font-family: 'Noto Sans', sans-serif;  
    outline: 0;
}

.clear, .clear-both {
    clear: both;
}

.wrapper {
    width: 1100px;
    padding-left: 22px;
    padding-right: 18px;
    margin-left: auto;
    margin-right: auto;
}

.header-flex{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px !important;
    border-top: 7px solid rgb(190, 190, 190);
    background: rgb(243, 243, 243);
}.header-f-logo{
    width: 33%;
    text-align: center;
}.header-f-logo img{
    width: 70%;
}.header-f-adress{
    width: 33%;
    color:#111;
    font-size: 20px;
    line-height: 30px;
    border-right: 1px solid #d8d8d8;
}.header-f-adress a{
    color: rgb(0, 59, 187) !important;
    font-size:17px;
}.header-f-phone{
    line-height: 30px;
    width: 33%;
    text-align: center;
}.header-f-phone a{
    color: rgb(37, 37, 37) !important;
    font-size: 39px;
    text-decoration: none;
}
.header-f-phone i{
    padding-right: 10px;
    font-size: 30px;
}
.fa-skype,.fa-skype a{
    color: rgb(0, 141, 196) !important;
    padding-left: 10px;
}
.zayavka-top-link a{
    color: #1f1f1f !important;
    font-size: 18px !important;
    display: block;
    width: 190px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    background: #F8D300;
}.zayavka-top-link a:hover{
background: rgb(255, 220, 24);
}
.header5{
		width:100%;
		text-align:center;
}
.header5 img{
		text-align: center;
		width: 956px;
		padding-bottom: 60px;
}.main-page{
    width: 80%;
    margin: 0 auto;
    /* border-left: 1px solid rgb(236, 181, 0) */
}.price_index_page{
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow-x: scroll;
}.price_index_page img{
    width: 400px;
}

/* Sign up & Login forms
------------------------ */

.wa-auth-adapters ul {
    padding: 0;
    min-height: 16px;
}

    .wa-auth-adapters ul li {
        list-style: none;
        float: left;
        padding: 0 15px 0 0;
    }

        .wa-auth-adapters ul li a,
        .wa-auth-adapters ul li span {
            display: block;
            padding: 0px 5px;
        }

            .wa-auth-adapters ul li a img,
            .wa-auth-adapters ul li span img {
                position: relative;
                top: 4px;
                margin-right: 3px;
            }

.wa-auth-adapters p {
    color: #888;
    font-size: 0.9em;
    width: 80%;
}

.wa-auth-adapters.wa-connect {
    margin-top: 20px;
    padding-bottom: 20px;
}

.banner-top-text{
    font-size: 40px;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    vertical-align: middle;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif !important;
    line-height: 45px;
}

.slides-li{
    width: 100%;
    height: 400px;
    background-size: cover;
    display: flex !important;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.slides-li-bg-1{
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(http://reklama-new-design.ru/wa-data/public/site/themes/servicessite/img/slaider_1.jpg);
}
.slides-li-bg-2{
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://pp.userapi.com/c841624/v841624556/47543/rpK2KI3_-IY.jpg);
}

.wa-form {
    float: left;
    margin: 10px 0;
    overflow: visible;
}

    .wa-form .wa-field {
        clear: left;
        margin: 0;
        padding-top: 3px;
    }

        .wa-form .wa-field .wa-name {
            float: left;
            width: 155px;
            padding-top: 0.05em;
            padding-bottom: 10px;
            font-size: 0.95em;
            color: #888;
        }

        .wa-form .wa-field.wa-separator {
            height: 10px;
        }

        .wa-form .wa-field .wa-value {
            margin-left: 180px;
            margin-bottom: 5px;
            position: relative;
        }

            .wa-form .wa-field .wa-value input.wa-error {
                border: 2px solid red;
            }

            .wa-form .wa-field .wa-value .wa-error-msg {
                font-size: 0.9em;
                color: red;
                display: block;
            }

            .wa-form .wa-field .wa-value input[type="text"],
            .wa-form .wa-field .wa-value input[type="email"],
            .wa-form .wa-field .wa-value input[type="password"] {
                width: 30%;
                min-width: 260px;
                margin: 0;
            }

            .wa-form .wa-field .wa-value textarea {
                min-width: 300px;
                height: 70px;
            }

            .wa-form .wa-field .wa-value input.wa-captcha-input {
                width: 100px;
                min-width: 0;
            }

            .wa-form .wa-field .wa-value label {
                display: block;
            }

            .wa-form .wa-field .wa-value .wa-captcha img {
                margin-left: 0;
            }

            .wa-form .wa-field .wa-value .errormsg {
                margin-left: 0;
            }

            .wa-form .wa-field .wa-value.wa-submit {
                margin-top: 10px;
            }

            .wa-form .wa-field .wa-value p label {
                display: block;
                margin: 0;
            }

            .wa-form .wa-field .wa-value p {
                line-height: 1.6em;
                margin-bottom: 23px;
                position: relative;
            }

                .wa-form .wa-field .wa-value p span {
                    color: #777;
                    font-size: 0.9em;
                    display: block;
                }

                .wa-form .wa-field .wa-value p i.icon16 {
                    float: left;
                    left: -20px;
                    margin-top: 2px;
                    position: absolute;
                }

                .wa-form .wa-field .wa-value p input {
                    display: block;
                    margin-bottom: 2px;
                }

                    .wa-form .wa-field .wa-value p input[type="radio"],
                    .wa-form .wa-field .wa-value p input[type="checkbox"] {
                        display: inline;
                    }

                .wa-form .wa-field .wa-value p .field.wa-required span:after {
                    content: " *";
                    color: #faa;
                }

        .wa-form .wa-field.wa-required .wa-name:after {
            content: " *";
            color: #faa;
        }

.wa-signup-form .wa-form .wa-field.wa-field-email {
    margin-top: 20px;
}

    .wa-signup-form .wa-form .wa-field.wa-field-email .wa-value input {
        min-width: 300px;
    }

.wa-signup-form .wa-form .wa-field.wa-field-password .wa-value input,
.wa-signup-form .wa-form .wa-field.wa-field-password_confirm .wa-value input {
    min-width: 200px;
    width: 200px;
}

.wa-captcha {
    padding: 7px 0 10px;
}

    .wa-captcha p {
        margin: 0;
    }

    .wa-captcha strong {
        font-size: 1.2em;
    }

    .wa-captcha p img {
        float: left !important;
        margin-right: 5px;
        margin-top: -8px;
    }

    .wa-captcha .wa-captcha-refresh {
        font-size: 0.8em;
        text-decoration: underline;
        color: #aaa;
    }

    .wa-captcha .wa-captcha-input {
        display: inline !important;
    }

    .wa-captcha .errormsg {
        display: inline-block;
        margin-left: 10px;
        display: block\9;
        float: left\9;
    }

input.error, textarea.error {
    border: 2px solid red;
}

.errormsg {
    color: red;
    margin-left: 170px;
    display: block;
}

#page > div.wa-auth-adapters > ul > li > a {
    color: #006bd8;
}

.wa-auth-adapters ul {
    overflow: hidden;
    margin-bottom: 20px;
}

#page > div.wa-form > form > div > div > a {
    color: #006bd8;
}

#page h1 {
    line-height: 1.2em;
    margin-bottom: 20px;
}

#page p {
    margin-bottom: 20px;
}
/* Tables
--------- */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

    table th {
        color: #aaa;
        padding: 0px 10px 7px;
    }

    table td {
        padding: 10px;
        border: 1px solid rgba(0,0,0,0.15);
    }

    table.not-bordered td {
        border: none;
    }

    table.lined {
        margin-top: 25px;
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
    }

        table.lined th {
            padding-left: 7px;
            padding-right: 7px;
        }

        table.lined td {
            padding: 15px 7px;
            border-bottom: 1px solid #ddd;
        }

            table.lined td.min-width {
                width: 1%;
            }

            table.lined td p {
                margin: 0;
            }

            table.lined td input.numerical {
                width: 50px;
                margin-right: 5px;
                text-align: right;
            }

        table.lined tr.no-border td {
            border: none;
        }

        table.lined tr.thin td {
            padding-top: 13px;
            padding-bottom: 0;
        }

        table.lined tr.service td {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 25px;
            font-size: 0.8em;
            color: #555;
        }
/* Buttons
---------- */

input[type=button],
input[type=submit] {
    font-family: 'PT Sans', sans-serif;
    background: #265e79;
    color: rgb(0, 0, 0) !important;
    outline: 0;
    padding: 4px 7px;
    font-size: 1.1em;
    border: none;
    border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.3) rgba(0,0,0,0.3) rgba(0,0,0,0.3);
    -webkit-appearance: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    /*text-shadow: 0 1px 0px rgba(255,255,255,0.5);*/
    background: #265e79 -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.0) 100%); /* FF3.6+ */
    background: #265e79 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0.0))); /* Chrome,Safari4+ */
    background: #265e79 -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%); /* Chrome10+,Safari5.1+ */
    background: #265e79 -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%); /* Opera 11.10+ */
    background: #265e79 -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%); /* IE10+ */
    background: #265e79 linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#265e79', endColorstr='#265e79',GradientType=0 ); /* IE6-9 */
    max-width: 100%;
}

    input[type=button]:hover,
    input[type=submit]:hover {
        cursor: pointer;
        background: #265e79 linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.3) 100%);
    }

    input[type=button]:active,
    input[type=submit]:active {
        background: #265e79;
        text-shadow: none;
        box-shadow: none;
    }

    input[type=button]:disabled,
    input[type=submit]:disabled {
        background: #eee;
        color: #999;
        text-shadow: 0 1px 1px #fff;
        cursor: pointer;
    }

    input[type=button].small,
    input[type=submit].small {
        font-size: 0.9em;
        padding: 3px 5px;
    }

    input[type=button].large,
    input[type=submit].large {
        font-size: 1.6em;
        padding: 7px 10px;
        font-weight: bold;
    }

    input[type=button].gray,
    input[type=submit].gray {
        background: #eee linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%);
    }

/* Customized search input look
------------------------------- */

.search {
}

.search-wrapper {
    position: relative;
    width: 100%;
    height: 32px;
    padding: 0 5px 0 5px;
    float: left;
    border: 0;
    border-radius: 3px;
    -webkit-appearance: none;
    margin-right: 0;
    box-shadow: 0 1px 2px 1px #ccc inset;
    -moz-box-sizing: border-box;
}

.search input {
    width: 100%;
    float: left;
    height: 30px;
    padding-top: 0;
    margin-top: 2px;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    margin-right: 0;
    padding-left: 0;
    padding-right: 32px;
    -moz-box-sizing: border-box;
}

    .search input:focus {
        outline: 0;
    }

    .search input::-webkit-input-placeholder {
        color: #aaa;
        font-weight: normal;
    }

    .search input:-moz-placeholder,
    .search input::-moz-placeholder {
        color: #aaa;
        font-weight: normal;
    }

    .search input:-ms-input-placeholder {
        color: #aaa;
        font-weight: normal;
    }

.search button {
    min-width: 32px;
    overflow: visible;
    position: absolute;
    right: 0px;
    float: left;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 32px;
    color: #fff;
    background-color: transparent;
    background-image: url(img/search16black.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
    background-size: 16px 16px;
    border-radius: 0 3px 3px 0;
    font-size: 1.0em;
}

    .search button:hover {
        background-color: rgba(100,100,50,0.1);
    }

    .search button:active,
    .search button:focus {
        background-color: rgba(100,100,50,0.2);
        outline: 0;
    }

    .search button:hover:before {
        border-right-color: #e54040;
    }

    .search button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
        border: 0;
        padding: 0;
    }

/* Main
------- */

main.maincontent {
    display: block;
    clear: both;
    margin: 0;
    background: #fff;
    border: 1px solid transparent /* this seems odd, but it fixes FF 1px black border issue for resized backgrounds */;
}

main.custom-background .banner {
    background-size: auto;
}

main.custom-background.stretched .banner {
    background-size: cover;
}

.banner {
    background: #27ba64;
    background-size: cover;
    text-align: center;
    padding: 30px 25px 60px;
    clear: both;
    border: none;
    min-height: 42px;
}

    .banner h3 {
        color: #ffe;
        font-size: 1.6em;
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    }

    .banner .search {
        display: inline-block;
        width: 40%;
        margin-top: 10px;
        margin-bottom: 20px;
        display: block\9;
        float: left\9;
    }

        .banner .search .search-wrapper {
            height: 36px;
            font-size: 1.1em;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            padding-left: 8px;
            background: #fff;
            margin-left: -10px;
            border-radius: 3px 5px 5px 3px;
        }

            .banner .search .search-wrapper:hover {
                box-shadow: 0 5px 13px -8px rgba(0,0,0,0.4);
                transition: 0.1s;
            }

        .banner .search input {
            height: 1.3em;
            font-size: 1.1em;
            margin-top: 7px;
            padding-right: 58px;
            padding-top: 1px;
        }

        .banner .search button {
            width: 52px;
            height: 36px;
            background-color: green;
            background-image: url(img/search20.png);
            background-repeat: no-repeat;
            background-position: 16px 8px;
            background-size: 20px 20px;
        }

        .banner .search .search-sample {
            display: inline-block;
            margin-top: 12px;
            font-size: 0.8em;
            color: #dec;
        }

            .banner .search .search-sample a {
                color: #efd;
                text-decoration: underline;
            }

    .banner ul.menu-h li a {
        color: #ff9;
        text-shadow: 0 1px 1px rgba(0,0,0,0.7);
        font-size: 100%;
        font-weight: bold;
        font-size: 1.2em;
        padding-top: 5px;
        padding-right: 20px;
    }

    .banner ul.menu-h li.selected a {
        color: #ff0;
        text-shadow: 0 1px 3px rgba(0,0,0,0.7);
    }

    .banner ul.menu-h li:hover {
        background-color: transparent !important;
    }

    .banner ul.menu-h li a:hover {
        color: #ff0 !important;
    }

.page {
    box-shadow: 0 2px 5px rgba(0,0,0,0.13);
    top: -43px;
    position: relative;
    z-index: 9;
    background: #fafaf1;
}

.page-nav {
}

.page-content {
    background: #fff;
    padding: 25px 30px;
    position: relative;
}

    .page-content.with-sidebar {
        margin-left: 220px;
        border-left: 1px solid #d9d9d9;
        box-shadow: -3px 0 8px -8px rgba(0, 0, 0, 0.7);
        padding-left: 20px !important;
    }

.nav-sidebar {
    float: left;
    background: #fafaf1;
    width: 220px;
}

.nav-sidebar-header {
    DISPLAY: NONE;
    padding: 13px 16px;
    line-height: 1.3em;
    background: #fff url('img/darr.png') no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    text-decoration: none;
    box-shadow: 0 2px 8px -8px rgba(0, 0, 0, 0.7);
    white-space: nowrap;
}

.nav-sidebar-body {
    padding-bottom: 20px;
}

.nav-sidebar-body a:hover {
    text-decoration: underline;
}

.nav-sidebar.right {
    float: right;
}

.waSlideMenu-back {
    background: url('img/larr.png') no-repeat;
    background-position: left center;
    background-size: 32px 16px;
    padding-left: 13px !important;
}

    .waSlideMenu-back a {
        color: #aaa;
    }

.sub-links {
    margin-bottom: 20px;
    padding-left: 0;
}

    .sub-links li {
        list-style: none;
        line-height: 1.5em;
    }

        .sub-links li a {
            text-decoration: none;
        }

/* the trick below is for javascript-disabled browsers */
.slidemenu ul.menu-v li ul {
    display: none;
}

.slidemenu.waSlideMenu-nav ul.menu-v li ul {
    display: block;
}
/* 16x16 Icons
-------------- */

i.icon16 {
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
    text-indent: -9999px;
    text-decoration: none !important;
    background-image: url("img/icons.png");
    background-size: 260px 160px /* 50% of the original size for auto @2x optimization */;
}

* i.icon16 {
    text-decoration: none !important;
    vertical-align: top;
    margin: 0.2em 0.25em 0 0;
}

.icon16.rss {
    background-position: -16px 0;
}

.icon16.facebook {
    background-position: -32px 0;
}

.icon16.twitter {
    background-position: -48px 0;
}

.icon16.vk {
    background-position: -64px 0;
}

.icon16.gplus {
    background-position: -80px 0;
}

.icon16.pinterest {
    background-position: -96px 0;
}

.icon16.youtube {
    background-position: -112px 0;
}

.icon16.instagram {
    background-position: -128px 0;
}

.icon16.userpic20 {
    background-position: -2px -2px;
    border-radius: 50%;
    background-size: 20px 20px;
}

.icon16.color {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.2);
    width: 12px;
    height: 12px;
    background-image: none;
}

.icon16.like {
    background-position: 0 -16px;
    margin-top: 0;
}

.icon16.star,
.icon16.star-full {
    background-position: -16px -16px;
}

.icon16.star-half {
    background-position: -32px -16px;
}

.icon16.star-empty {
    background-position: -48px -16px;
}

.icon16.star-hover {
    background-position: -64px -16px;
}

.icon16.remove {
    background-position: -96px -16px;
}

.icon16.saved {
    background-position: -112px -16px;
}

.icon16.stock-red {
    background-position: -128px -16px;
}

.icon16.stock-yellow {
    background-position: -144px -16px;
}

.icon16.stock-green {
    background-position: -160px -16px;
}

.icon16.stock-transparent {
    background-position: -176px -16px;
}

.icon16.checkmark {
    background-position: -192px -16px;
}

.icon16.compare {
    background-position: -208px -16px;
}

    .icon16.compare.active {
        background-position: -224px -16px;
    }

.icon16.uarr {
    background: url('img/uarr.png');
    background-position: 0 0;
    background-size: 16px 16px;
}

.icon16.loading {
    background-image: url('img/loading16.gif');
    background-position: 0 0;
    background-size: 16px 16px;
}

.icon24.loading {
    background-image: url('img/loading.gif');
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    display: inline-block;
}

.icon32.loading {
    background-image: url('img/loading.gif');
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    display: inline-block;
}

/* 10x10 Icons
-------------- */

i.icon10 {
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
    display: inline-block;
    text-indent: -9999px;
    text-decoration: none !important;
    background-image: url("img/icons.png");
    background-size: 260px 160px /* 50% of the original size for auto @2x optimization */;
}

* i.icon10 {
    text-decoration: none !important;
    vertical-align: top;
    margin: 0.2em 0.1em 0 0;
}

.icon10.darr {
    background-image: url('img/darr.png');
    background-size: 16px 16px;
}

.icon10.star,
.icon10.star-full {
    background-position: 0 -100px;
}

.icon10.star-half {
    background-position: -10px -100px;
}

.icon10.star-empty {
    background-position: -20px -100px;
}

/* 24x24 Icons
-------------- */

i.icon24 {
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    display: inline-block;
    text-indent: -9999px;
    text-decoration: none !important;
    background-image: url("img/icons.png");
    background-size: 260px 160px /* 50% of the original size for auto @2x optimization */;
}

* i.icon16 {
    text-decoration: none !important;
    vertical-align: top;
    margin: 0.2em 0.25em 0 0;
}

.icon24.rss {
    background-position: 0 -50px;
}

.icon24.facebook {
    background-position: -24px -50px;
}

.icon24.twitter {
    background-position: -48px -50px;
}

.icon24.vk {
    background-position: -72px -50px;
}

.icon24.instagram {
    background-position: -96px -50px;
}

.icon24.youtube {
    background-position: -120px -50px;
}

.icon24.pinterest {
    background-position: -144px -50px;
}

.icon24.gplus {
    background-position: -168px -50px;
}

/* Navigation menus
------------------- */

ul.menu-v {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', 'Trebuchet MS', Arial, sans-serif;
}

    ul.menu-v li {
        list-style: none;
        padding: 0;
        line-height: 1.3em;
        border-bottom: 1px solid #d9d9d9;
    }

        ul.menu-v li a {
            padding: 13px 30px 13px 16px;
            display: block;
            text-decoration: none;
        }

        ul.menu-v li.collapsible {
            background: url('img/rarr.png') no-repeat;
            background-position: right center;
            background-size: 32px 16px;
        }

    ul.menu-v.bottom-padded {
        margin-bottom: 20px;
    }

    ul.menu-v li .count {
        float: right;
        color: #aaa;
    }

        ul.menu-v li .count i.icon16 {
            margin: 0 -5px;
        }

ul.menu-h {
    margin: 0;
    padding: 0;
}

    ul.menu-h.bottom-padded {
        margin-bottom: 15px;
    }

    ul.menu-h li {
        list-style: none;
        display: inline-block;
        padding: 0 10px 0 0;
        line-height: 1.3em;
        display: block\9;
        float: left\9;
    }

        ul.menu-h li a {
            display: inline-block;
            padding: 13px 16px 13px 16px;
            display: block\9;
            float: left\9;
            text-decoration: none;
            font-family: "Helvetica Neue",Arial,sans-serif;
        }

        ul.menu-h li.collapsible a {
            padding: 13px 30px 13px 16px;
        }

        ul.menu-h li a img.icon16 {
            position: relative;
            top: 3px;
            left: -3px;
        }

        ul.menu-h li a i.icon16 {
            margin-top: -0.1em;
        }

        ul.menu-h li.selected a {
            background: transparent;
            font-weight: bold;
        }

        ul.menu-h li.bold a {
            font-weight: bold;
        }

    ul.menu-h.compact {
        margin-bottom: 16px;
    }

        ul.menu-h.compact li {
            padding-right: 5px;
        }

            ul.menu-h.compact li a {
                padding: 0;
            }

.dropdown ul li {
    position: relative;
}

    .dropdown ul li.collapsible {
        background: url('img/darr.png') no-repeat;
        background-size: 16px 16px;
        background-position: right center;
        margin-right: 0px !important;
        padding-right: 5px;
    }

    .dropdown ul li:hover {
        background-color: #ffc !important;
        transition: 0.3s;
    }

    .dropdown ul li a {
        display: block;
    }

        .dropdown ul li a:hover {
            background-color: #ffc !important;
            transition: 0.3s;
        }

.dropdown ul ul.menu-v {
    opacity: 0;
    position: absolute;
    width: 200px;
    top: -9999em;
    left: -9999em;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0;
    z-index: 13012;
    margin-left: 0;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
    margin-top: 0;
}

    .dropdown ul ul.menu-v li {
        display: block;
        width: 200px;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        border-top: none;
    }

        .dropdown ul ul.menu-v li.collapsible {
            background: url('img/rarr.png') no-repeat;
            background-size: 32px 16px;
            background-position: right center;
            margin-right: 0 !important;
        }

        .dropdown ul ul.menu-v li a {
            display: block;
            margin: 0;
            font-weight: normal !important;
        }
        /* .dropdown ul ul.menu-v li i.icon16 { margin-left:-20px; margin-right:4px; } */
        .dropdown ul ul.menu-v li ul.menu-v {
            top: -1px;
            left: 100%;
            margin-left: 0;
        }

.dropdown ul li:hover ul.menu-v {
    opacity: 1;
    top: 100%;
    left: -1px;
    transition: opacity 0.3s;
}
/* .dropdown ul li:hover ul.menu-v { background-color: rgba(255,255,222,1); } */
.dropdown ul.disabled li:hover ul.menu-v {
    display: none !important;
}

.dropdown ul li:hover ul.menu-v ul.menu-v {
    display: none;
    top: -1px;
}

.dropdown ul li:hover ul.menu-v li:hover ul.menu-v {
    display: block;
}

    .dropdown ul li:hover ul.menu-v li:hover ul.menu-v ul.menu-v {
        display: none;
        top: -1px;
    }

    .dropdown ul li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v {
        display: block;
    }

        .dropdown ul li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v ul.menu-v {
            display: none;
            top: -1px;
        }

        .dropdown ul li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v {
            display: block;
        }

            .dropdown ul li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v ul.menu-v {
                display: none;
                top: -1px;
            }

            .dropdown ul li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v li:hover ul.menu-v {
                display: block;
            }

.dropdown ul li .inner {
    opacity: 0;
    top: -9999em;
    left: -9999em;
    width: 300px;
    position: absolute;
    z-index: 13012;
    background: #fff;
}

    .dropdown ul li .inner.shadowed {
        background: #fff;
        border: 1px solid #ccc;
        padding: 0;
        margin-left: 0;
        -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
        box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
        margin-top: 0;
    }

.dropdown ul li:hover .inner {
    top: 100%;
    left: -3px;
    opacity: 1;
    transition: opacity 0.3s;
}

.dropdown ul.menu-v {
    margin-bottom: 0;
}

    .dropdown ul.menu-v li:hover ul.menu-v {
        top: -1px;
        left: 100%;
    }

    .dropdown ul.menu-v li.collapsible {
        background-image: url('img/rarr.png');
        background-size: 32px 16px;
        margin-right: 0 !important;
        padding-right: 0;
    }

        .dropdown ul.menu-v li.collapsible.selected:hover > a {
            background-color: #ffc !important;
        }

.dropdown ul.menu-h li:hover {
    background-color: #fff !important;
}

.dropdown ul.menu-h li ul.menu-v li {
    background-position: right 0 center;
}

.dropdown ul.menu-h li.collapsible {
    background-position: right 10px center;
}

    .dropdown ul.menu-h li.collapsible:hover {
        background-color: #ffc !important;
    }

.dropdown ul.menu-h li ul.menu-v li:hover {
    background-color: #ffc !important;
}

.dropdown ul.menu-h.aux {
    float: right;
    font-size: 1em;
}

    .dropdown ul.menu-h.aux li:hover .inner,
    .dropdown ul.menu-h.aux li:hover ul {
        left: auto;
        right: 0;
    }

ul.tree {
    list-style: none;
    padding-left: 0;
}

    ul.tree li {
        border: none;
    }

        ul.tree li a {
            padding: 5px 16px;
            display: block;
            text-decoration: none;
        }

        ul.tree li.selected a {
            background: transparent;
        }

    ul.tree ul {
        padding-left: 20px;
        list-style: none;
    }

        ul.tree ul a {
            padding: 3px 6px;
            font-size: 90%;
        }

.paging-nav {
    text-align: center;
}

    .paging-nav ul li a {
        padding: 8px 10px;
    }

    .paging-nav ul li.selected a {
        background: #eee;
        border-radius: 4px;
    }

/*********************** BREADCRUMBS ***********************/
.breadcrumbs {
    font-size: 14px;
    padding: 5px 0;
}

    .breadcrumbs a {
        color: #aaa;
    }

    .breadcrumbs span.rarr {
        color: #ccc;
        margin: 0 3px;
    }

    .current_crumb {
        color:#777;
    }

/*********************** HEADER ***********************/
a {
    color: #1c5a71;
}
body .layout_1 > header {
    /* padding-top: 30px; */
    height: 100px;
    position: relative;
}

.logo {
    width: 195px;
    height: auto;
    margin-left: -27px;
    position: relative;
    float: left;
   /* margin-top: -27px; */
	    margin-top: -47px;

}

    .logo > a {
        display: block;
    }

    .logo p {
        color: #818181;
        font-family: Candara;
        font-size: 12px;
        position: absolute;
        bottom: 2px;
        left: 45px;
    }

    .logo img {
        max-height: 100px;
        width: auto;
        margin-top:28px;
    }

.address {
    float: right;
    text-align: right;
    margin-top: 5px;
}

    .address p, .address p span {
        color: black;
        font-size: 17px;
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
    }

    .address > a {
        color: #236980;
        font-size: 13px;
        font-family: 'PT Sans', sans-serif;
        padding-left: 15px;
        background: url(img/icons/letter_icon.png) no-repeat top 5px left;
    }


.auth {
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    height: 23px;
    position: absolute;
    top: 0;
    right: 20px;
    text-align: right;
    background-color: #efefef;
    padding-right: 10px;
}

    .auth a {
        color: black;
        font-family: 'PT Sans', sans-serif;
        font-size: 12px;
        height: 23px;
        text-decoration: underline;
        background: url(img/icons/auth_icon.png) no-repeat #efefef left top;
        background-position: 12px 2px;
        padding-left: 37px;
    }

    .auth.logged {
        padding-left: 10px;
    }

    .auth > a.logged {
        background: none;
        padding: 0;
        margin-left: 5px;
    }

        .auth > a.logged:first-child {
            margin-left: 0;
        }

    .auth a:hover {
        text-decoration: none;
    }

.phone {
    margin-right: 336px;
    text-align: right;
}

    .phone a {
        text-decoration: none;
        display: inline-block;
    }

    .phone p {
        display: block;
        color: #010101;
        font-size: 13px;
        font-family: 'PT Sans', sans-serif;
    }

        .phone p:first-child {
            font-size: 23px;
            color: #000;
            margin-bottom: 5px;
            margin-right: -1px;
        }

            .phone p:first-child span {
                color: #398aa5;
                font-size: 28px;
                font-family: 'PT Sans', sans-serif;
                font-weight: 700;
            }
/*********************** NAV ***********************/
nav.topmenu {
    min-width: 1000px;
    min-height: 57px;
    border-top: 1px solid #e0e8ea;
    background-color: #1e5c6d;
}

    nav.topmenu li {
        list-style: none;
    }

    nav.topmenu > ul {
        min-width: 1000px;
        margin: 0 auto;
    }

        nav.topmenu > ul > li {
            position: relative;
            float: left;
        }

            nav.topmenu > ul > li > a {
                color: rgb(0, 0, 0);
                font-family: 'PT Sans', sans-serif;
                font-size: 21px;
                line-height: 57px;
                display: block;
                height: 57px;
                padding-left: 18px;
                padding-right: 27px;
                text-transform: uppercase;
                text-decoration: none;
                border-left: 2px solid #d4a72c;
            }

            nav.topmenu > ul > li:hover > a, nav.topmenu > ul > li.active > a {
                font-family: 'PT Sans', sans-serif;
                /* background: #ffb400; */
                text-decoration: none;
                text-transform: uppercase;
                background: #fff
            }

            nav.topmenu > ul > li > ul {
                display: none;
                position: absolute;
                width: 474px;
                height: auto;
                top: 57px;
                z-index: 100;
                background: rgb(230, 230, 230);
                color: #111 !important;
            }

                nav.topmenu > ul > li > ul.ulRTL {
                    position: absolute;
                    right: 0;
                }

                nav.topmenu > ul > li > ul.ulLt3 {
                    min-width: 100%;
                    width: auto;
                    max-width: 300px;
                    float:none;
                }

                nav.topmenu > ul > li > ul > li {
                    /*display: inline-block;*/
                    width: 50%;
                    float:left;
                }

                    nav.topmenu > ul > li > ul > li:hover {
                        background: #1e5c6d;
                    }

                    nav.topmenu > ul > li > ul > li.liLt3 {
                        width: 100% !important;
                        display: block;
                    }

                    nav.topmenu > ul > li > ul > li > a {
                        color: rgb(0, 0, 0);
                        font-size: 20px;
                        font-family: 'PT Sans', sans-serif;
                        line-height: 32px;
                        padding: 4px 10px 7px 20px;
                        display: block;
                        text-decoration: none;
                        overflow: hidden;
                        white-space: nowrap;
                        -ms-text-overflow: ellipsis;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                    }

            nav.topmenu > ul > li:hover > ul {
                display: block;
            }

.hasUl {
    position: absolute;
    right: 12px;
    background: url(img/icons/arr_down.png) no-repeat center;
    width: 11px;
    height: 55px;
    top: 1px;
    cursor: pointer;
}
/*********************** TOP ***********************/
#top {
    position: relative;
	background-color: #ffffff;
}

    #top > .cover {
        /* height: 212px; */
        width: 100%;
        background: url(img/cover.png) repeat-x left;
        position: absolute;
        bottom: 0;
    }
/*********************** TOP_SLIDER ***********************/
#top_slider {
    min-width: 1000px;
    height: 460px;
    width: 100%;
}

    #top_slider img {
        display: block;
        margin: 0 auto;
        height: 460px;
        max-width: 100%;
    }

    #top_slider .container {
        position: relative;
    }

    #top_slider .quote {
        position: absolute;
        top: 0;
        right: 50%;
        width: 342px;
        margin-right: -385px;
        margin-top: 60px;
        background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
        padding-top: 20px;
        padding-left: 35px;
        text-align: right;
        padding-bottom: 20px;
    }

        #top_slider .quote a {
            width: 301px;
            color: #373737;
            font-family: 'PT Sans', sans-serif;
            font-size: 21px;
            margin-right: 30px;
        }

        #top_slider .quote p {
            width: 301px;
            color: #373737;
            font-family: 'PT Sans', sans-serif;
            font-size: 20px;
            text-align: left;
            margin-bottom: 22px;
            font-style: italic;
            position: relative;
            height: 130px;
            overflow: hidden;
        }

    /* Стрелки */
    #top_slider .sl-prev, #top_slider .sl-next {
        content: '';
        width: 23px;
        height: 43px;
        position: absolute;
        top: 46%;
        border: none;
        cursor: pointer;
        z-index: 50;
    }

    #top_slider .sl-prev {
        background: url(img/arr_left.png) no-repeat left center;
        left: 75px;
    }

    #top_slider .sl-next {
        background: url(img/arr_right.png) no-repeat right center;
        right: 75px;
    }

#top .slick-slider {
    margin-bottom: 0;
	background:#fff;
}

#top_slider button.sl-prev::before, #top_slider button.sl-next::before {
    content: '' !important;
}

.layout {
    background-color: #fff;
    padding-bottom: 32px;
    /*background:url(/wa-data/public/site/themes/servicessite/img/backround.png);*/
}
/*********************** ACTIVITIES ***********************/
.activities {
    position: relative;
    top:-60px;
    margin-bottom: -108px;
}

    .activities > div {
        width: 310px;
        height: 237px;
        /*overflow: hidden;*/
        margin-left: 10px;
        background-color: #12303e;
        position: relative;
        display: inline-block;
    }

        .activities > div:first-child {
            margin-left: 0;
        }

.desc {
    margin-top: 107px;
}

    .desc p {
        height: 50px;
        color: white;
        font-family: 'PT Sans', sans-serif;
        font-size: 17px;
        line-height: 24px;
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 8px;
        overflow: hidden;
    }

    .desc a {
        color: white;
        font-family: 'PT Sans', sans-serif;
        font-weight: 700;
        font-size: 18px;
        text-decoration: underline;
        background-color: #1e5c6d;
        padding: 11px 35px 13px 23px;
        margin-top: 15px;
        position: absolute;
        bottom: 17px;
        left: 0;
    }

        .desc a:hover {
            text-decoration: none;
        }

.pic {
    position: absolute;
    width: 310px;
   /* height: 107px; */
    overflow: hidden;
}

    .pic img {
        width: 310px;
    }

/*********************** MAIN ***********************/
main {
    padding-top: 25px;
    font-family: 'Noto Sans', sans-serif !important;
    line-height: 35px;
    font-size: 25px;
}

.aside_wrapper {
    margin-left: 21px;
}

main > aside {
    width: 312px;
    float: right;
    padding-top: 18px;
    padding-bottom: 21px;
}

main > aside, main > .main {
	/* цвет фона для блока с текстами и пр */
    background-color: #fff;
	   /* background-color: #abdff5; */
}

    main > aside h3 {
        color: #1c5a71;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 13px;
    }

main.forBlog > .main {
    padding: 0;
    background: none;
}

main .welcome {
    padding-bottom: 25px;
}

ul.submenu {
    padding: 20px;
    background: #eee;
    border-radius: 10px;
    border: 1px solid rgb(219, 219, 219)
}

    ul.submenu > a {
        color: #1c5a71;
        font-size: 18px;
    }

        ul.submenu > a.active h4 {
            font-weight: bold;
        }

        ul.submenu > a h4 {
            margin-bottom: 10px;
        }

    ul.submenu li {
        /* padding-left: 10px; */
        list-style: square;
        list-style-position: inside;
        color:#F8D300
    }

        ul.submenu li a {
            color: #1c5a71;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
        }

        ul.submenu li.active a {
            font-weight: 700;
        }

        ul.submenu li:hover a {
            text-decoration: none;
        }

ul.sub_submenu {
    /* padding-left: 15px; */
}

.news {
    position: relative;
}

    .news p.date {
        color: #777;
        font-size: 12px;
        line-height: 26px;
        padding-left: 22px;
        background: url(img/icons/calendar_icon.png) no-repeat;
        background-position: 0 5px;
    }

    .news h4 {
        color: #1c5a71;
        font-size: 17px;
        font-weight: 700;
        line-height: 26px;
        text-decoration: underline;
        margin-bottom: 5px;
    }
    
    .news h4:hover, .news a:hover {
        text-decoration: none;
    }

    .news p.wordWrap {
        color: #595959;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        max-height: 100px;
        overflow: hidden;
    }

#news_slider {
    overflow: hidden;
}

    #news_slider .news_wrapper > article {
        border-top: 1px solid #e8eced;
        padding: 10px 33px 35px 23px;
    }

        #news_slider .news_wrapper > article:first-child {
            border-top: none !important;
        }

.news button.nextNews, .news button.prevNews {
    position: absolute;
    bottom: 14px;
    width: 14px;
    height: 9px;
    background: url(img/news_arrows.png) no-repeat;
    border: none;
    cursor: pointer;
}

.news button.nextNews {
    right: 34px;
    background-position: -5px -5px;
}

.news button.prevNews {
    right: 70px;
    background-position: -29px -5px;
}

.news a.btn {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-decoration: underline;
    background-color: #265e79;
    width: 123px;
    height: 24px;
    padding-top: 10px;
    padding-left: 21px;
    margin-top: 1px;
}

    .news a.btn:hover {
        text-decoration: none;
    }

main > .main {
	/* эта строка, делает отступ справа для блока со списком субменю, которое включается и отключается с файле submenu.html */
	/*     margin-right: 326px; */
    padding: 21px 53px 0 25px;
    /*overflow: hidden;*/
}
    main > .main ymaps {
        max-width:100%;
    }
main > .main .article {
    padding-bottom:21px;
}
main > .main ol li, main > .main ul li {
    list-style-position: inside;
}
.wholeWidth {
    margin-right: 0 !important;
}

div.main h1, div.main h2, div.main h3, div.main h4, div.main h5, div.main h6 {
    margin-bottom: 15px;
}

main h1.title, .question_page h1 {
    color: #2b2b2b;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 28px;
    font-family: 'Noto Sans', sans-serif;  
    line-height: 50px;
    border-bottom: 5px solid rgb(255, 232, 184);
}

main > .main div.article p, main > .main div.article blockquote, main > .main div.article table, main > .main div.article table th, main > .main div.article ul, main > .main div.article ol {
    /* color: #5a5a5a; */
	    color: #333;
    font-family: Arial;
    font-size: 13px;
}
main > .main div.article img {
    /* max-width:100%;     */
    max-width: 71%
}

main > .main div.article p {
    /* line-height: 18px; */
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 30px;
}

main > .main div.article > p > img {
    margin-right: 24px;
    margin-bottom: 5px;
}

div.main div.article > div {
    padding-bottom: 1px;
}

main > .main a.btn {
    display: block;
    width: 100px;
    height: 25px;
    background-color: #265e79;
    color: white;
    font-size: 15px;
    text-decoration: underline;
    padding-top: 9px;
    padding-left: 19px;
    margin-top: 23px;
}

    main > .main a.btn:hover {
        text-decoration: none;
    }
/*********************** FOOTER ***********************/
footer {
    min-width: 1000px;
    height: 110px;
    background-color: #008001;
    padding-top: 37px;
   /* margin-top: -147px;*/
}

    footer p {
        color: white;
        font-size: 14px;
    }

    footer .company_info {
        float: left;
        width:33%;
        color: #fff !important;
    }

        footer .company_info a {
            text-decoration: none;
            display: inline-block;
        }

        footer .company_info > p {
            margin-bottom: 10px;
        }
        .company_info span{
            color: white !important;
        }

    footer > .wrapper p a {
        color: white;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
    }

    footer .right_side {
        float: right;
        width:30%;
    }

    footer .production {
        text-align: right;
    }

        footer .production p {
            display: inline;
            position: relative;
            top: -1px;
            margin-right: 3px;
        }

        footer .production a {
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
        }

            footer .production a span {
                display: inline-block;
                color: #ffffff;
                border-bottom: 1px solid #eb5e0d;
            }

                footer .production a span:first-child {
                    color: #ebebeb;
                    border-bottom: 1px solid #ebebeb;
                }

            footer .production a:hover span {
                border-bottom: 1px solid transparent;
            }

    footer .social {
        margin-top: 10px;
        text-align: right;
    }

    footer .middle_side {
        display: block;
        width: 30%;
        margin-left:3%;
        float: left;
        text-align:center;
    }
footer p.webasyst {
    display:block;
    margin-top: 7px;
}
footer > .wrapper p.webasyst a {
    font-weight: normal;
    text-decoration: underline;
}
footer > .wrapper p.webasyst a:hover {
    text-decoration: none;
}
.layout_0 {
    background: #fff url(bg_footer.png) bottom repeat-x;
    min-height: 100%;
    min-width: 1000px;
}

.layout_1 {
    width: 100%;
    background-color: white;
}

.layout_2 {
    min-width: 1000px;
    /*height: 147px;*/
}

/*********************** PHOTOS ***********************/

article.page-content {
    box-shadow: none;
}

ul.albums li {
    width: 32%;
}

ul.albums.subalbums li {
    margin-top: 0;
    margin-bottom: 0;
}

ul.albums li a {
    text-decoration: none;
    color: #006bd8;
}

    ul.albums li a strong {
        font-family: "Helvetica Neue",Arial,sans-serif !important;
    }

ul.albums.subalbums {
    margin-top: 30px;
}

    ul.albums.subalbums li {
        width: 145px;
    }

#photo-list > figure {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.album-note {
    margin-top: 0;
}

.slideshow {
    width: 100%;
    margin: 0;
}

.image {
    display: block;
    max-width: 100%;
    position: relative;
}

.photo {
    margin-bottom: -5px;
    width: 100%;
}

.slideshow-navigator {
    overflow: hidden;
}

.photo-info > a {
    color: #888;
}

div.wa-auth-adapters h3, div.wa-auth-adapters p {
    margin-bottom: 20px;
}

.view-plain .image img {
    /*width: 32% !important;*/
    width: auto !important;
    /*float: left;*/
    margin-left: 1%;
    height: 200px !important;
    margin-bottom: 15px;
}

.view-plain .image {
    /*margin-top: -16px;*/
    display: inline-block;
    width: 32%;
    margin-right: 0.5%;
}
/*********************** BLOG ***********************/

main.forBlog a {
    color: #1c5a71;
}

main.forBlog #post-stream a:hover {
    text-decoration:none;
}

ul.auth-type {
    overflow: hidden;
}

.post h3 {
    font-size: 1.5em;
}

.post {
    margin-bottom: 40px;
}

div.text p {
    line-height: 20px;
    margin-bottom: 15px;
}

.post .credentials {
    margin-bottom: 15px;
}

div.text ul li {
    list-style: disc inside;
    margin-bottom:10px;
}
div.text ol li {
    margin-bottom:10px;
}

.comment-submit input {
    white-space: normal;
}


/*********************** QUESTIONS ***********************/

.question_cat-item-title, .question_cat-item-title a, .breadcrumbs a, .question_item-text a {
    color: #1c5a71;
}

.question_page .breadcrumbs {
    margin-bottom: 10px;
}

ul.menu-v li:last-child {
    border-bottom: none;
}
.error404 {
    padding-bottom:21px;
}
/*********************** RESET CANCEL FOR ARTICLES ***********************/

main div.article ul, main div.article ol {
    padding-left: 40px;
    line-height: 1.4em;
}

blockquote {
    background: #e8eced none repeat scroll 0 0;
    font-size: 0.9em;
    padding: 20px;
}

/* Плашка перехода на мобильную версию */

.goMobile {
    height: 30px;
    line-height: 30px;
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
}
    .goMobile span {
        cursor:pointer;
    }
    .price{background-color: #1E5C6D;
    padding: 4px;
    border: 1px solid #283E44;
    width: 102px;
    color: white!important;
    }
    .price a{color: white!important;}
    