.show_full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 31px;
    background-color: #efefef;
    z-index: 0;
}

    .show_full p {
        display: inline;
        font-family: 'PT Sans';
        color: black;
        font-size: 14px;
        font-weight: 700;
        line-height: 31px;
        text-decoration: underline;
        margin-left: 19px;
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.menu_btn {
    display: inline;
    color: rgb(0, 0, 0);
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: 400;
    padding-left: 25px;
    background: url(img/icons/menu_icon.png) no-repeat left center;
    line-height: 44px;
    cursor: pointer;
}

.hide {
    display: none !important;
}
.show {
    display:block !important;
}
.alreadyClicked {}

@media all and ( max-width:1000px ) {
    html, body {
        min-width: 240px;
    }

    .layout_0, .layout_1, .layout_2, nav.topmenu > ul {
        min-width: 240px;
    }

    body .layout_1 > header {
        padding-top: 55px;
    }

    .wrapper, nav.topmenu > ul {
        width: auto;
    }

    .wrapper {
        padding-right: 23px;
    }

    .auth {
        z-index: 1;
        margin-top: 3px;
        width: auto;
    }

        .auth a {
            font-size: 14px;
            line-height: 22px;
        }

    nav.topmenu {
        height: 44px;
        position: relative;
        min-width: 240px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-height: inherit;
    }

        nav.topmenu > ul {
            display: none;
            position: absolute;
            top: 43px;
            left: 0;
            width: 200px;
            margin: 0;
            z-index: 100;
            background: #1e5c6d;
        }

            nav.topmenu > ul > li {
                float: none;
            }

                nav.topmenu > ul > li > a {
                    padding: 5px 0 10px 22px;
                    width: auto;
                    display: block;
                    line-height: 30px;
                    /* border-top: 1px solid #12303e; */
                    height: 29px;
                    white-space: nowrap;
                    overflow: hidden;
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                }

                nav.topmenu > ul > li:first-child > a {
                    border: none;
                }

                nav.topmenu > ul > li > ul, nav.topmenu > ul > li > ul.ulLt3 {
                    top: 1px;
                    left: 240px;
                    width: 200px;
                    min-width: inherit;
                }

                    nav.topmenu > ul > li > ul > li {
                        width: 100%;
                        border-top: 1px solid #54b1d3;
                    }

                        nav.topmenu > ul > li > ul > li:first-child {
                            border-top: none;
                        }

                        nav.topmenu > ul > li > ul > li a {
                            padding-right: 15px;
                            line-height: 15px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }

    .hasUl {
        background: url(img/icons/arr.png) #3d91af no-repeat center center;
        top: 1px;
        right: 0;
        height: 44px;
        width: 30px;
        z-index: 10;
        cursor: pointer;
    }

    .mob_btns {
        position: absolute;
        top: 0;
        right: 16px;
        height: 44px;
    }

        .mob_btns > div {
            width: 36px;
            height: inherit;
            cursor: pointer;
            display: inline-block;
            padding: 0 10px;
        }

    .mob_addr {
        background: url(img/icons/mob_addr.png) no-repeat center center;
    }

        .mob_addr.hover {
            background: url(img/icons/mob_addr2.png) #fff no-repeat center center;
        }

    .mob_phone {
        background: url(img/icons/mob_tel.png) no-repeat center center;
    }

        .mob_phone.hover {
            background: url(img/icons/mob_tel2.png) #fff no-repeat center center;
        }

    .mob_email {
        background: url(img/icons/mob_email.png) no-repeat center center;
    }

        .mob_email.hover {
            background: url(img/icons/mob_email2.png) #fff no-repeat center center;
        }

    .address, .phone, .email {
        position: absolute;
        right: 13px;
        top: 50px;
    }

        .address p {
            font-weight: 400;
        }

        .address span {
            font-weight: 700;
            display: block;
        }

    .phone {
        margin-right: 0;
    }

    .email {
        top: 60px;
        background-position: 0 5px;
    }

        .email a {
            color: #236980;
            font-size: 18px;
            font-family: 'PT Sans', sans-serif;
            padding-left: 15px;
            background: url(img/icons/letter_icon.png) no-repeat top 8px left;
        }

    #top_slider, #top_slider img {
        height: 250px;
    }

    #top_slider {
        min-width: 240px;
    }

    #top > .cover {
       display:none;
    }

    #top_slider .sl-prev, #top_slider .sl-next {
        width: 13px;
        height: 20px;
        top: 70px;
    }

    #top_slider .sl-prev {
        background: url(img/arr_left_m.png) no-repeat right center;
        left: 30px;
    }

    #top_slider .sl-next {
        background: url(img/arr_right_m.png) no-repeat right center;
        right: 30px;
    }

    #top_slider .quote {
        margin-top: 59px;
        margin-right: 0;
        left: 53%;
        width: 310px;
    }

        #top_slider .quote p:first-child {
            width: 300px;
        }

    .activities {
        top: -16px;
        margin-bottom: -16px;
        text-align:center;
    }

        .activities > div, .activities > div:first-child {
            /*display: block;*/
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }

        .activities > div {
            margin-top: 5px;
            /*overflow:hidden;*/
        }

            .activities > div:first-child {
                margin-top: 0;
            }

    .pic, .pic img {
        width: 100%;
    }

        .pic img {
            height: auto;
        }


    footer {
        min-width: 240px;
    }

    .question_categories .question_cat-item {
        width:30%;
        margin-right:2% !important;
    }
    .question_categories .question_cat-item .question_cat-item-img {
        height:auto;
    }
    main > .main {
        padding-right:20px;
    }
    main > div.main > div.article iframe, main > div.main img {
        max-width:100%;
    }

    main > div.main img {
            height:auto;
        }
    .wa-form .wa-field .wa-value input[type="text"], .wa-form .wa-field .wa-value input[type="email"], .wa-form .wa-field .wa-value input[type="password"], .wa-form .wa-field .wa-value textarea {
        width:90% !important;
        min-width:100px !important;
    }
    .logo img {
        /* max-width:100%; */
    }
    .comments {
        margin: 0;
    }
    .comment.in-reply-to {
        padding-right: 8px;
    }
    .comments ul li .comment-form {
        padding: 0;
    }
    .view-plain .image {
        width: 254px;
        margin-right: 5px;
    }
    .view-plain .image img {
        width: 254px !important;
    }
    ul.view-thumbs li a {
        width: auto;
        margin-right: 10px;
    }
}

@media all and ( max-width:900px ) {
    #top_slider .quote p {
        color: #373737;
        font-family: 'PT Sans';
        font-size: 12px;
        position: relative;
        right: -30px;
        height:45px;
        margin-bottom:5px;
    }

        #top_slider .quote p:first-child {
            color: #373737;
            font-family: 'PT Sans';
            font-size: 11px;
            right: 0;
        }

        #top_slider .quote, #top_slider .quote p, #top_slider .quote p:first-child {
            width: 145px;
        }
            #top_slider .quote a {
                font-size:15px;
            }
    #top_slider .quote {
        left: 50%;
        margin-top:30px;
        padding-left:10px;
    }

        #top_slider .quote p:first-child::before {
            width: 8px;
            background-size: contain;
            top: -15px;
            left: -20px;
        }

        #top_slider .quote p:first-child::after {
            width: 8px;
            background-size: contain;
            bottom: -15px;
            right: -20px;
        }

    #top_slider, #top_slider img {
        height: 173px;
    }
    /*footer .middle_side {
        float:none;
        margin:0;
        text-align: left;
    }
    footer .company_info {
        width: auto;
    }*/
    .question_page {
        padding:0;
    }
    /*.image img {
        height:200px !important;
    }*/

}

@media all and ( max-width:800px ) {
    ul.albums li {
        width: 48%;
    }
}
@media all and ( max-width:760px ) {
    .forBlog .page-nav .nav-sidebar {
        display:none;
    }
    main > div.main > div.page-content {
        margin-right:0;
    }
    #add_question .form-line input[type='text'] {
        width:100% !important;
    }
}
@media all and ( max-width:700px ) {
    main > aside {
        float: none;
        margin: 17px auto 0;
    }

    main > .main {
        margin-right: auto;
        margin-left: auto;
    }
    ul.albums li {
        margin-bottom:0;
        margin-top:15px;
    }
    .image img {
        width:96% !important;
        height:auto !important;
    }
    .forSupport nav.page-nav {
        overflow:hidden;
        width: auto;
        height: auto;
    }
    .forSupport .nav-sidebar {
        width: auto;
    }
    .forSupport article.page-content {
        margin-left: 0;
    }
    .forSupport .nav-sidebar ul.menu-v > li {
        width: 50%;
        float: left;
        border-bottom:none;
        text-align: center;
    }
    .forSupport .page-content {
        padding-top: 0;
    }
    .forSupport article.page-content.with-sidebar {
        border-left:none;
    }
    .forSupport .wa-form input[type="checkbox"], .forSupport .wa-form input[type="radio"]{
        width: 25px;
        height: 25px;
    }
    .forSupport .wa-form input[type="file"] {
        max-width: 90%;
    }
    .forSupport article .page-content.faq-category {
        padding-left: 0;
    }
    .view-plain .image {
        width: 100%;
    }
    .view-plain .image img {
        width: 100% !important;
        height: auto !important;   
    }
}

@media all and ( max-width:600px ) {
    .address p {
        font-size: 14px;
    }

    .address span {
        font-size: 16px;
    }

    .phone p:first-child {
        font-size: 16px;
    }

        .phone p:first-child span {
            font-size: 18px;
        }

    .email a {
        font-size: 15px;
        background-position: 0 6px;
    }
    .address, .phone, .email {
        position: static;
        float: none;
        text-align: center;
    }
    .logo {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    body .layout_1 > header {
        height: auto;
        padding-bottom: 20px;
    }
    .activities > div, .activities > div:first-child {
        width: 349px;
    }

        #top_slider .quote p {
            right: 0;
        }

    ul.albums li {
        width: 98%;
    }
    footer .production {
        /*height:30px;*/
    }
    footer .company_info, footer .right_side, footer .middle_side {
        float:none;
    }
    footer {
        height:auto;
        padding-top:10px;
        padding-bottom:10px;
    }
    footer .production, footer .social, footer .production p, footer .company_info, footer .middle_side {
        text-align:center;
    }
        footer .middle_side, footer .company_info, footer .right_side {
            width:auto;
        }
        footer .middle_side {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 0;
        }
        footer .company_info > p {
            margin-top:5px;
        }
        footer .right_side {
            margin-top:10px;
            float: none;
            display: block;
        }
}
@media all and ( max-width:500px ) {
    
    .wa-form .wa-field .wa-value {
        margin-left:0 !important;
    } 
    .forSupport .wa-form {
        width: 99%;
    }

}
@media all and ( max-width:450px ) {
	.logo img {
        max-width:100%;
    }

    #top_slider .quote {
        left: 50%;
    }

    .auth {
        top: 28px;
        right: 0;
    }
    
    .auth.logOut {
        top: 0;
    }
    .question_categories .question_cat-item {
        width:100%;
        margin-bottom:15px;
    }
        .question_categories .question_cat-item img {
            width:100%;
        }
    .question_page .question_categories {
        margin-bottom:10px;
    }
    nav.topmenu > ul > li > ul, nav.topmenu > ul > li > ul.ulLt3 {
        left:0;
        width:210px;
    }
    .rotate {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .forSupport .nav-sidebar ul.menu-v > li {
        width: 100%;
    }
    
}

@media all and ( max-width:390px ) {
    #top_slider .quote p:first-child::before {
        top: -15px;
        left: -10px;
    }

    #top_slider .quote p:first-child::after {
        bottom: -5px;
        right: -10px;
    }

    #top_slider .quote, #top_slider .quote p, #top_slider .quote p:first-child {
        width: 100px;
    }

    #top_slider .quote {
        margin-top: 30px;
    }

        #top_slider .quote p {
            margin-bottom: 10px;
        }

    .activities > div, .activities > div:first-child {
        width: 90%;
    }

    .desc p, .desc a {
        font-size: 14px;
        line-height: 16px;
    }
    /*.forSupport .page-content.with-sidebar {
        padding-left: 0 !important;
    }*/
}

@media all and ( max-width:360px ) {
    .pic, .pic img {
        height: 100px;
    }

        .pic img {
            width: 100%;
        }

    main > aside {
        width: 100%;
    }
    .forSupport #page-content table.table {
        transform: scale(0.9);
        position: relative;
        left: -15px;
    }
    .view-plain .image { 
        width: 100%;
        
    }
    .view-plain .image img {
        height: auto !important;
    }
}

@media all and ( max-width:320px ) {
    body .layout_1 > header {
        padding-top: 65px;
    }

        body .layout_1 > header.logOut {
            padding-top: 50px;
        }

    .auth a.logOut {
        display: block;
        width: 50px;
        height: 25px;
    }

    .auth a {
        display: inline;
        background-position: center center;
        padding: 0;
        margin: 0;
    }

    .mob_btns > div {
        padding: 0 5px;
    }

    #top_slider .quote {
        left: 40%;
    }

    .news p.wordWrap {
        height: 60px;
    }

    #top {
        display:none;
    }
    .activities {
        top:5px;
    }
    ul.albums li .cover, ul.albums li .cover > div, ul.albums li .cover > img, ul.albums li .cover .sublayer {
        width:95% !important;
        height:auto !important;
    }
        ul.albums li .cover .sublayer {
            width:95% !important;
            height:100px !important;
        }
        
    #news_slider {
        height:auto !important;
    }
    
    .news button.nextNews, .news button.prevNews {
        display: none;
    }
    .forSupport #page-content table.table {
        transform: scale(0.8);
        position: relative;
        left: -40px;
    }
}
@media all and ( max-width:280px ) {
    .forSupport #page-content table.table {
        transform: scale(0.6);
        position: relative;
        left: -67px;
    }    
}
@media all and ( max-width:260px ) {
    .mob_btns > div {
        padding: 0;
    }
}
