a {color:#000;}
#page > div.wa-form > form > div > div > a, #page > div.wa-auth-adapters > ul > li > a, .breadcrumbs a, .question_cat-item-title, .question_cat-item-title a, .question_item-text a, .nav-sidebar > ul > li > a, .page-content table.table a, #page-content > h1, .forSupport a {
    color:#000 !important;
}
.phone p:first-child span {
    color: #100a01;
}

main h1.title, main > aside h3 {
    color: black;
}

nav, .topmenu > ul > li > ul > li:hover, .topmenu > ul, .activities > div {
    background-color: #000 !important;
}

    .topmenu > ul > li:hover > a, .topmenu > ul > li.active > a, .topmenu > ul > li > ul {
        background: #3c91ae !important;
    }

.hasUl {
    background: url(../img/themes/black/arr_down.png) no-repeat center !important;
}


#top_slider .quote p:first-child::before {
    background: url(../img/themes/black/raquo_l.png) no-repeat left center;
}

#top_slider .quote p:first-child::after {
    background: url(../img/themes/black/raquo_r.png) no-repeat left center;
}

main > .main a.btn, .news a.btn, input[type=button], input[type=submit] {
    background-color: #3c91ae !important;
}

input[type=button], input[type=submit] {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c91ae', endColorstr='#3c91ae',GradientType=0 ); /* IE6-9 */
}

.desc p {
    color: #fff;
}

.desc a {
    background: #3c91ae !important;
}

main > .main div.article h3, main.forBlog a, ul.submenu > a, ul.submenu li a, ul.albums li a {
    color:#000;
}

.news h4 {
    color: #000;
}

footer {
    background-color: #000 !important;
}


@media all and (max-width: 1000px) {
    .topmenu > ul > li > a {
        border-color: #525252 !important;
    }

    .topmenu > ul > li > ul > li {
        border-color: #44a5c6 !important;
    }

    .hasUl {
        background: url(../img/themes/black/arr.png) no-repeat #3c91ae center !important;
    }

    .mob_addr {
        background: url(../img/icons/mob_addr.png) no-repeat center center;
    }

        .mob_addr.hover {
            background: url(../img/themes/black/mob_addr2.png) #fff no-repeat center center !important;
        }

    .mob_phone {
        background: url(../img/icons/mob_tel.png) no-repeat center center;
    }

        .mob_phone.hover {
            background: url(../img/themes/black/mob_tel2.png) #fff no-repeat center center !important;
        }

    .mob_email {
        background: url(../img/icons/mob_email.png) no-repeat center center;
    }

        .mob_email.hover {
            background: url(../img/themes/black/mob_email2.png) #fff no-repeat center center !important;
        }
}
