a {color:#77534c;}
#page > div.wa-form > form > div > div > a, #page > div.wa-auth-adapters > ul > li > a, .breadcrumbs a, .question_cat-item-title, .question_cat-item-title a, .question_item-text a, .nav-sidebar > ul > li > a, .page-content table.table a, #page-content > h1, .forSupport a {
    color:#77534c !important;
}
.phone p:first-child span {
    color: #100a01;
}

.topmenu > ul > li > a {
    color: #e5e0cf;
}

main > .main h3, main > aside h3 {
    color: #2b2826;
}

nav, .topmenu > ul > li > ul > li:hover, .topmenu > ul {
    background-color: #413d3b !important;
}

    .topmenu > ul > li:hover > a, .topmenu > ul > li.active > a, .topmenu > ul > li > ul {
        background: #77534c !important;
    }

.hasUl {
    background: url(../img/themes/brown/arr_down.png) no-repeat center !important;
}


#top_slider .quote p:first-child::before {
    background: url(../img/themes/brown/raquo_l.png) no-repeat left center;
}

#top_slider .quote p:first-child::after {
    background: url(../img/themes/brown/raquo_r.png) no-repeat left center;
}

main > .main a.btn, .news a.btn, input[type=button], input[type=submit] {
    background-color: #77534c !important;
}

input[type=button], input[type=submit] {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77534c', endColorstr='#77534c',GradientType=0 ); /* IE6-9 */
}

.activities > div {
    background: #2b2826 !important;
}

.desc p {
    color: #e5e0ce;
}

.desc a {
    background: #77534c !important;
}

main h1.title, main.forBlog a, ul.submenu > a, ul.submenu li a, ul.albums li a {
    color:#000;
}

.news h4 {
    color: #77534c;
}

footer {
    background-color: #2b2826 !important;
}

    footer p, footer > .wrapper > p a {
        color: #959185;
    }

@media all and (max-width: 1000px) {
    .topmenu > ul > li > a {
        border-color: #595451 !important;
    }

    .topmenu > ul > li > ul > li {
        border-color: #92655c !important;
    }

    .hasUl {
        background: url(../img/themes/brown/arr.png) no-repeat #77534c center !important;
    }

    .mob_addr {
        background: url(../img/icons/mob_addr.png) no-repeat center center;
    }

        .mob_addr.hover {
            background: url(../img/themes/brown/mob_addr2.png) #fff no-repeat center center !important;
        }

    .mob_phone {
        background: url(../img/icons/mob_tel.png) no-repeat center center;
    }

        .mob_phone.hover {
            background: url(../img/themes/brown/mob_tel2.png) #fff no-repeat center center !important;
        }

    .mob_email {
        background: url(../img/icons/mob_email.png) no-repeat center center;
    }

        .mob_email.hover {
            background: url(../img/themes/brown/mob_email2.png) #fff no-repeat center center !important;
        }
}
