body {
    position: relative;
}

/*.auth {
    background: #efefef;
}

    .auth a {
        display: block;
        padding-left: 20px;
        background: url(../img/icons/auth_icon.png) no-repeat left top;
        margin-left: 10px;
        padding-top: 0;
        line-height: 12px;
        margin-top: 4px;
    }*/

.address > a {
    background: url(../img/icons/letter_icon.png) no-repeat top left;
    background-position: 0 5px;
}

#top_slider .quote {
    background: url(../img/quote_bg.png) repeat;
}

.rss, .facebook, .twitter, .vk, .gplus {
    background-image: url("../img/icons_ie.png") !important;
}

.search button {
    background-image: url(../img/search16black_ie.png);
}

.search input {
    margin-top: 8px;
}

ul.menu-h {
    overflow: hidden;
}

.waSlideMenu-back {
    background: url('../img/larr_ie.png') no-repeat;
    background-position: left center !important;
}
.search-wrapper {
    background: url('../img/input_bg_ie.png') no-repeat !important;
}
.twitter-follow-button {
    display:block !important;
    font:normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif !important;
    padding-left:20px !important;
    width:106px !important;
    height:20px !important;
    background: url('../img/twitter_bg_ie.png') no-repeat !important;
    white-space: nowrap !important;
    overflow:hidden !important;
}
.icon24.instagram, .icon24.youtube, .icon24.pinterest {
    background-image: url("../img/icons_ie.png") !important;
}